.cr-details {
    padding: 20px;
    background-color: var(--dgrey);
    border-radius: 10px;
    color: var(--white);

    h2 {
        color: var(--yellow);
        border-bottom: 2px solid var(--tangarine);
        padding-bottom: 10px;
        margin-bottom: 20px;
        font-size: 24px;
        text-align: center;
    }

    .details {
        margin-bottom: 20px;

        p {
            font-size: 18px;
            margin: 8px 0;

            strong {
                color: var(--tangarine);
            }
        }
    }

    .actions {
        display: flex;
        justify-content: space-between;

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;

            &.approve {
                background-color: var(--green);
                color: var(--black);

                &:hover {
                    background-color: var(--vlgrey);
                }
            }

            &.reject {
                background-color: var(--red);
                color: var(--black);

                &:hover {
                    background-color: var(--orange);
                }
            }

            &.back {
                background-color: var(--mgrey);
                color: var(--white);

                &:hover {
                    background-color: var(--lgrey);
                }
            }
        }
    }
}
